-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: msvc_applications
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_applications`
--

DROP TABLE IF EXISTS `tbl_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_applications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `description` varchar(250) DEFAULT NULL,
  `img` varchar(200) DEFAULT NULL,
  `price` double DEFAULT '0',
  `rating` int DEFAULT '0',
  `tittle` varchar(150) DEFAULT NULL,
  `category_id` bigint DEFAULT NULL,
  `developer` varchar(150) DEFAULT NULL,
  `instaled` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_admgcxhpi6c2oam5i6ekxvc33` (`tittle`),
  KEY `FK2ixityh6lemh88xyh8gkdka51` (`category_id`),
  CONSTRAINT `FK2ixityh6lemh88xyh8gkdka51` FOREIGN KEY (`category_id`) REFERENCES `tbl_categories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_applications`
--

LOCK TABLES `tbl_applications` WRITE;
/*!40000 ALTER TABLE `tbl_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_applications_comentaries`
--

DROP TABLE IF EXISTS `tbl_applications_comentaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_applications_comentaries` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `comentary_id` bigint DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_8rbrpi19s7rwcrsi06gtcdmvq` (`comentary_id`),
  KEY `FKiqbl7mpf71kyk2kydbpho3hh5` (`application_id`),
  CONSTRAINT `FKiqbl7mpf71kyk2kydbpho3hh5` FOREIGN KEY (`application_id`) REFERENCES `tbl_applications` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_applications_comentaries`
--

LOCK TABLES `tbl_applications_comentaries` WRITE;
/*!40000 ALTER TABLE `tbl_applications_comentaries` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_applications_comentaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_applications_downloads`
--

DROP TABLE IF EXISTS `tbl_applications_downloads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_applications_downloads` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `download_id` bigint DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_jovmfh89pvgwxc9nxjgu417q7` (`download_id`),
  KEY `FKb45s1kb2v6ek8cd0hsin2qk92` (`application_id`),
  CONSTRAINT `FKb45s1kb2v6ek8cd0hsin2qk92` FOREIGN KEY (`application_id`) REFERENCES `tbl_applications` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_applications_downloads`
--

LOCK TABLES `tbl_applications_downloads` WRITE;
/*!40000 ALTER TABLE `tbl_applications_downloads` DISABLE KEYS */;
INSERT INTO `tbl_applications_downloads` VALUES (1,1,1),(2,2,10),(3,3,15),(4,4,1);
/*!40000 ALTER TABLE `tbl_applications_downloads` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_update_install_app` AFTER INSERT ON `tbl_applications_downloads` FOR EACH ROW begin 
	UPDATE tbl_applications 
		SET instaled = true 
    WHERE id = NEW.application_id;
	end */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `tbl_applications_ratings`
--

DROP TABLE IF EXISTS `tbl_applications_ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_applications_ratings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rating_id` bigint DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_c8iiipc74mj91xx7j78m7ksbm` (`rating_id`),
  KEY `FK67gqxnkh70rk43h1d4i4boidt` (`application_id`),
  CONSTRAINT `FK67gqxnkh70rk43h1d4i4boidt` FOREIGN KEY (`application_id`) REFERENCES `tbl_applications` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_applications_ratings`
--

LOCK TABLES `tbl_applications_ratings` WRITE;
/*!40000 ALTER TABLE `tbl_applications_ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_applications_ratings` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_update_rating` AFTER INSERT ON `tbl_applications_ratings` FOR EACH ROW begin 
	DECLARE NEW_RATING INTEGER;
  DECLARE RATING_CURSOR CURSOR FOR SELECT AVG(c.rating)
		FROM tbl_applications_ratings a,
			tbl_applications b,
			tbl_ratings c
		WHERE a.application_id = b.id AND a.rating_id = c.id 
			AND a.application_id = NEW.application_id;
    
    OPEN RATING_CURSOR;
	FETCH RATING_CURSOR INTO NEW_RATING;
    CLOSE RATING_CURSOR;
                    
	UPDATE tbl_applications 
		SET rating = NEW_RATING 
    WHERE id = NEW.application_id;
	end */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `tbl_categories`
--

DROP TABLE IF EXISTS `tbl_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_categories` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `name` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_pnqt0pl545ljtiykhqj1egymh` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_categories`
--

LOCK TABLES `tbl_categories` WRITE;
/*!40000 ALTER TABLE `tbl_categories` DISABLE KEYS */;
INSERT INTO `tbl_categories` VALUES (1,'2022-10-30 18:37:20.024000','Categoria 1'),(2,'2022-10-30 18:37:24.708000','Categoria 2'),(3,'2022-10-30 18:37:29.745000','Categoria 3'),(4,'2022-10-30 18:37:33.377000','Categoria 4'),(5,'2022-10-30 18:37:37.544000','Categoria 5');
/*!40000 ALTER TABLE `tbl_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_comentaries`
--

DROP TABLE IF EXISTS `tbl_comentaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_comentaries` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `description` varchar(250) DEFAULT NULL,
  `emisor` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_comentaries`
--

LOCK TABLES `tbl_comentaries` WRITE;
/*!40000 ALTER TABLE `tbl_comentaries` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_comentaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_downloads`
--

DROP TABLE IF EXISTS `tbl_downloads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_downloads` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `application_name` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_downloads`
--

LOCK TABLES `tbl_downloads` WRITE;
/*!40000 ALTER TABLE `tbl_downloads` DISABLE KEYS */;
INSERT INTO `tbl_downloads` VALUES (1,'Aplication 1','2022-11-01 21:34:17.131000'),(2,'Aplication 10','2022-11-01 22:17:15.489000'),(3,'Aplication 15','2022-11-01 22:17:32.196000'),(4,'Aplication 1','2022-11-01 22:17:46.124000');
/*!40000 ALTER TABLE `tbl_downloads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_ratings`
--

DROP TABLE IF EXISTS `tbl_ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_ratings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `emisor` varchar(100) DEFAULT NULL,
  `rating` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_ratings`
--

LOCK TABLES `tbl_ratings` WRITE;
/*!40000 ALTER TABLE `tbl_ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_ratings` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-11-01 22:54:59
